// Base container rules. Assume the user defined width if possible, fall back
// to using all available space. Centered. Include a gutter.
@mixin container {
  margin: 0 auto;
  max-width: $container-max-width;
  padding: 0 $gutter-width;
  position: relative;
  width: 100%;
}

// Construction of the static container rules.
.#{$rule-prefix}container {
  @include container;
}
