// Wrapper element for a container.
// Gives large header styling.
.header {
	background-color: #9b4dca;
	background: linear-gradient(to bottom, #9b4dca 0%,#793d9e 100%);
	color: white;
	padding: 9.6rem 0;
	margin-bottom: 2.4rem;
	text-align: center;
	
	h1.title {
		background-color: transparent;
		font-size: 4em;
		border-bottom: 0;
		margin: 0;
		padding: 0;
		text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	}
}

// Wrapper element for a container.
// Gives full width muted footer styling.
.footer {
	background-color: #eeeeee;
	color: #777777;
	margin-top: 4.7rem;
	padding: 2.4rem 2.4rem 4.8rem 2.4rem;
	text-align: center;
	border-top: 0.1rem solid #9b4dca;
}