// Wrapper element for a container.
// Gives large header styling.
.header {
  background: linear-gradient(to bottom, $theme-color 0%, $theme-color-darkened 100%);
  background-color: $theme-color;
  color: $foreground-color-inverted;
  margin-bottom: 2.4rem;
  padding: 9.6rem 0;
  text-align: center;

  h1.title {
    background-color: transparent;
    border-bottom: 0;
    font-size: 4em;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 5px $shadow-color;
  }
}

// Wrapper element for a container.
// Gives full width muted footer styling.
.footer {
  background-color: $background-color-shaded;
  border-top: .1rem solid $theme-color;
  color: $foreground-color-lightened;
  margin-top: 4.7rem;
  padding: 2.4rem 2.4rem 4.8rem;
  text-align: center;
}
