// An optional prefix to place in front of all css rules.
// This allows for compatibility with other frameworks which share class names (i.e. Bootstrap, Milligram).
// Example: "mg-"
$rule-prefix: "" !default;

// Grid width
$container-max-width: 120rem !default;

// Size of the gutter between columns
$gutter-width: 1rem !default;

// Spacing between elements vertically above and below
$gutter-width-vertical: 2.4rem !default;

// Maximum number of items that will be displayed on a grid row
// This applies to top-level grids.
// Nested grids will have a reduced number of items per row.
// This assumes the container has reached it's max-width.
// If the container is thinner that it's max-width then there will be less items per row.
$maximum-items-per-row: 12 !default;

// The point in the screen's width at which all columns will become rows themselves.
$columns-as-rows-threshold: 40rem !default;

// The color for standard body text
$text-color: #222222 !default;

$shaded-background-color: #eeeeee !default;

// The color for visual flair
$highlight-color: #9b4dca !default;
